.body {
    height: 100px;
    position: relative;
}

.estatico {
    position: static;
    background-color: red;
    padding: 10px;
}

.relativo {
    position: relative;
    background-color: blue;
    padding: 10px;
    top: 50px;
    left: 50px;
}

.fijo {
    position: fixed;
    background-color: green;
    color: white;
    padding: 10px;
    top: 50px;
    right: 10px;
}