.meni {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:#333;
    padding: 10px;
    height: 100vh;

}
.menu div {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    margin: 5px;
    background-color: #444;
    border-radius: 4px;
    box-shadow: ;
}

@media (max-width: 600px) {
    .meni {
        flex-direction: row;
        height: auto;
    }
    .menu div {
        margin: 5px;
        flex: 1;
    }
}

@media(main-width: 1024px) {
    .meni {
        justify-content: ;
        height: auto;
    }
    .menu div {
        margin: 5px;
        flex: 1;
    }
}   
